---
layout: default
---

<div class="home">

  <!-- Show Introduction Text Only on the First Page -->
  {% if paginator.page == 1 %}
  <div class="intro">
    {{ site.data.intro.intro | markdownify }}
  </div>

    <!-- Page Break -->
    <hr class="post-divider">
  {% endif %}

  {{ content }}

  <ul class="post-list">
    {% for post in paginator.posts %}
    <li>
      <header class="post-header">
        <h1 class="post-title">
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h1>
        <p class="post-meta">
          {% include date.html date=post.date %}
        </p>
      </header>

      <div class="post-content">
        {{ post.excerpt }}
      </div>

      <p class="post-continue">
        <a href="{{ post.url | relative_url }}">Read more &rarr;</a>
      </p>
    </li>
    {% endfor %}
  </ul>

  {% include pagination.html %}

</div>
