---
layout: default
---

<div class="home">

  <!-- Show Introduction Text Only on the First Page -->
  {% if paginator.page == 1 %}
  <div class="intro">
    {{ site.data.intro.intro | markdownify }}
  </div>

  <!-- Page Break -->
  <hr>
  {% endif %}

  {{ content }}

  <ul class="post-list">
    {% for post in paginator.posts %}
    <li style="text-align: center; margin-bottom: 15px;">
      <header class="post-header">
        <h1 >
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h1>
        <p class="post-meta">
          {% include date.html date=post.date %}
        </p>
      </header>
    </li>
    {% endfor %}
  </ul>

  {% include pagination.html %}

</div>
